<ion-menu side="start" menuId="firstMenu" contentId="homeContent">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button routerLink="/update">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Actualizar Perfil</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="homeContent">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-circle-outline" refreshingSpinner="circles"
      pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <app-category-menu (categorySelected)="loadCategory($event)"></app-category-menu>
  <app-news-list [news]="news"></app-news-list>
</ion-content>